.navbar {
  background-color: #510e57 !important;
}

.font-color {
  color: white !important;
  font-size: larger;
  font-weight: bold;
}

.font-color a {
  color: white !important;
  font-size: medium;
  font-weight: 300;
  margin-left: 10px;
}

.font-color:hover {
  text-decoration: underline;
  text-decoration-color: orange;
}
