.banner {
  background-image: url(../../../images/banner/home.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.banner-input {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../../../images/searchIcon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.banner-input:focus {
  width: 50%;
}

.heading {
  padding-top: 220px;
  font-size: 60px;
}

.banner-btn {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
}

.banner-btn:hover {
  background-color: #510e57;
  color: white;
}

/* make responsive */
@media only screen and (max-width: 688px) {
  .extra-portion {
    display: none;
  }
}
